# ignore node_modules directory
node_modules/
videos/
screenshots/
fixtures/

# ignore build artifacts
build/
dist/
*.log
*.tgz

# ignore environment variables
.env

# allow certain files
!src/index.js
!README.md
